*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

.stmenu {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color:blueviolet;
    font-weight: bold;
    font-size: 18px;
}
.stmenu img {
    border-radius: 30px;
    height: 50px;
    margin: -8px;
}
.menu {
    display: flex;
    list-style: none;
    
    
}
button {
    padding: 10px 13px;
    font-size: 1rem;
    border: 10px;
    cursor: pointer;
    position: relative;
    margin: 1px;
    left: 20px;
    bottom: 3px;
    border-radius: 30px;
    background: transparent;
    color: #fff;
}
.top-box {
    height: 65px;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 10px;
    bottom: auto;
    left: 0;
    right: 0;
    background-color: transparent;
}
nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
.b1-info {
    color: #fff;
}
body {
    background-color: #333;
}
.b2 {
    text-align: center;
    
    
}
.b2 img {
    border: 50%;
    height: 300px;
    
}


.novbar_bg {
    z-index: 0;
    width: 97%;
    height: 100%;
    border-radius: 30px;
    box-shadow: inset -1px -1px 1px 0 rgba(255, 0, 0, 0.765), inset 1px 1px 1px 0 rgb(46, 238, 46);
    backdrop-filter: blur(1rem);
    position: absolute;
    top: 4px;
    left: 21px;
    bottom: 0%;
    padding: 5px;
}
.MyP {
    background-color: #000;
}
.abt {
    background-color: #000;
    margin-left: 10px;
}
.ct {
    background-color: #000;
    margin-left: 10px;
}
.add {
    background-color: #000;
    margin-left: 10px;
}