*{
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

.stmenu {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color:blueviolet;
    font-weight: bold;
    font-size: 18px;
}
.stmenu img {
    border-radius: 30px;
    height: 50px;
    margin: -8px;
}
.menu {
    display: flex;
    list-style: none;
    
    
}
button {
    padding: 10px 13px;
    font-size: 1rem;
    border: 10px;
    cursor: pointer;
    position: relative;
    margin: 1px;
    left: 20px;
    bottom: 3px;
    border-radius: 30px;
    background: transparent;
    color: #000;
    
}
.top-box {
    height: 65px;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 10px;
    bottom: auto;
    background-color: transparent;
}
nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
.b1-info {
    color: #000;
}
body {
    background-image: url('https://4kwallpapers.com/images/walls/thumbs_2t/10307.jpg');
}
.b2 {
    text-align: center;
    
    
}
.b2 img {
    border: 50%;
    height: 300px;
    
}
.jo {
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.mid-box {
    height: 90px;
}
.ipro {
    display: flex;
    justify-content: center;
}
.ipro img {
    margin-top: 15px;
    height: 280px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.word {
    background-color:  #b6b2b2;
    padding: 0.1px;
    margin: 3%;
    border-radius: 30px;
}
.word-info {
    display: flax;
    grid-template-columns: repeat(2 , 1fr);
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius: 30px;
    margin: 3.5%;
    font-size: 20px;
    
}
.w1 {
    margin-top: 10px;
    background-color: red;
    border-radius: 30px;
    padding: 1rem;
}
.imgw1 {
    display: flex;
    left: 0;
}
.imgw1 img {
    border-radius: 50%;
    height: 30px;
    
}
.w2 {
    margin-top: 10px;
    
    background-color: teal;
    border-radius: 30px;
    padding: 1rem;
}
.w3 {
    padding: 1rem;
    background-color: green;
    border-radius: 30px;
    margin-top: 10px;
}
.word img {
    border-radius: 50%;
    height: 200px;
}
.novbar_bg {
    z-index: 0;
    width: 97%;
    height: 100%;
    border-radius: 30px;
    box-shadow: inset -1px -1px 1px 0.5px rgba(255, 0, 0, 0.765), inset 1px 1px 1px 2px rgb(46, 238, 46);
    backdrop-filter: blur(1rem);
    position: absolute;
    top: 4px;
    left: 21px;
    bottom: 0%;
    padding: 5px;
}
.MyP {
    background-color: #fff;
}
.abt {
    background-color: #fff;
    margin-left: 10px;
}
.ct {
    background-color: #fff;
    margin-left: 10px;
}
.add {
    background-color: #fff;
    margin-left: 10px;
}